.navbar {
  font-size: 50px;
  padding: 10px 15px;

}

.navbar-brand .brand-logo {
  height: 100px; 
  width: 100px;
  object-fit:cover; 
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-toggler {
  border-color: white; 
}

.navbar-nav .nav-item .nav-link {
  padding: 5px 10px; 
  font-size: 19px;
}

.bottom-border {
  position: relative;
  display: inline-block;
}

.bottom-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}

.bottom-border:hover::after {
  width: 100%;
}

.user-section {
  display: flex;
  gap: 35px;
}

.user-avatar {
  height: 90px; 
  width: 90px;
  border-radius: 50%;
}

.user-name {
  font-size: 38px;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .nav-item {
    margin: 5px 0;
  }

  .user-avatar {
    height: 70px; 
    width: 70px;
  }

  .user-name {
    font-size: 20px; 
    font-weight: bold;
  }
}
